*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.coins-div{
    padding: 1rem;
}
.loader-div{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}